{% extends 'base.html' %}
{% block title %} Dashboard | Ezod System {% endblock title %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<div id="input-nav" class="p-2"><a href="/"> Home </a> Dashboard</div>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-danger">
	<i class="fas fa-exclamation-circle"></i>{{ message }}
</div>
{% else %}
<div class="alert alert-success">
	<i class="fas fa-check-circle"></i>{{ message }}
</div>
{% endif %}
{% endfor %}
{% endif %}

<style>
	.chart-wrap {
		position: relative;
		padding: 1rem;
		transition: .5s;
		background-color: #fff;
		border-radius: 10px;
	}

	.fa-expand-alt {
		display: none;
		position: absolute;
		top: .5rem;
		right: .5rem;
		padding: .5rem;
		cursor: pointer;
		transition: .3s;
	}

	.fa-expand-alt:hover {
		background-color: #f1f1f1;
	}

	.chart-wrap:hover {
		box-shadow: 0 0 0 1px inset #666;
	}

	.chart-wrap:hover .fa-expand-alt {
		display: block;
	}

	.full-screen {
		transform: translateY(100%);
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 999;
		max-width: 100%;
		max-height: 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		background-color: #fff;
		/* For Internet Explorer */
		box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5) !important;
		/* For other browsers */
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5) !important;
		transform-origin: bottom left;
		animation: popupAnim forwards alternate .5s ease-in-out;
		overflow: auto;
	}

	.full-screen .fa-expand-alt {
		display: block;
	}

	@keyframes popupAnim {
		from {
			transform: translateY(100%);
		}

		to {
			transform: translateY(0);
		}
	}

	.users-count .card-count {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #fff;
	}

	.users-count .card-count h2 {
		font-weight: 1000;
	}

	.users-count .card-count h3 {
		flex: 0 0 40%;
		border-right: 1px solid rgb(230, 230, 230);
	}

	.users-count .card-count h3 i {
		display: inline-flex;
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}

	.bg-light-aqua {
		background-color: rgba(86, 224, 224, 0.5);
		box-shadow: 0 0 0 10px rgba(86, 224, 224, 0.1);
		color: #fff;
	}

	.bg-light-orange {
		background-color: rgba(253, 174, 28, 0.5);
		box-shadow: 0 0 0 10px rgba(253, 174, 28, 0.1);
		color: #fff;
	}

	.bg-light-purple {
		background-color: rgba(203, 31, 255, 0.5);
		box-shadow: 0 0 0 10px rgba(203, 31, 255, 0.1);
		color: #fff;
	}

	.bg-light-red {
		background-color: rgba(255, 19, 157, 0.5);
		box-shadow: 0 0 0 10px rgba(255, 19, 157, 0.1);
		color: #fff;
	}

	.activities ul {
		padding-left: .5rem;
	}

	.activities ul li {
		list-style-type: disc;
	}
</style>

<div class="page-header">
	<h1 class="title-1 mb-5">Dashboard</h1>
	<div class="btn-group">
		<button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false">
			<i class="fas fa-cog"></i>
		</button>
		<div class="dropdown-menu dropdown-menu-right">
			<h6 class="dropdown-header">Dashboard settings</h6>
			<button class="dropdown-item" type="button">Display row</button>
			<button class="dropdown-item" type="button">Display column</button>
			<button class="dropdown-item" type="button">Display table</button>
			<hr>
			<button class="dropdown-item" type="button">Manage dashboard</button>
		</div>
	</div>
</div>



<div class="row px-2">
	<div class="col-md-6 p-2">
		<div class="row">
			<div class="col-md-6 p-2">
				<div class="card p-3 activities">
					<center><h5>General Objective</h5></center>
					<ul class="small">
						<p>The main objective of this project is to develop a web-based system for the management of documents for the scheduling and evaluation of On-The-Job trainees that meets the needs of the client in compliance with engineering and other relevant standards while taking into consideration the constraints including economic, environmental, sustainability, safety, risk, public health, welfare, social, global, and cultural along with computation of trade-offs from selected constraints.</p>
					</ul>
				</div>
			</div>
			<div class="col-md-6 p-2">
				<div class="card p-3 activities">
					<center><h5>Specific Objectives</h5></center>
					<ul class="small">
						<p>Develop a web application that:</p>
						<li>Accepts user’s official university email account, name, account type (whether faculty or student), status (whether regular or irregular) and  section for account creation.</li>
						<li>Allows the student user to upload documents limited to pdf file types, view details of partner companies, and track their progress based on a list of requirements.</li>
						<li>Displays the uploaded files of the student user for faculty review.</li>
						<li>Filters reports containing aggregated tracking data for document compliance of individual students by user's id or report title.</li>
						<li>Manages students records by semester and academic year with ready to print in a .pdf format.</li>
						<br>
						<p>Test and evaluate the accuracy of the system</p>
						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<br>

{% endblock content %}

{% block js %}

{% endblock %}